body{
    background-color: rgb(239, 239, 239);
    position: relative;
    min-height: 500px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff!important;
}
li {
    display: inline;
}

button.btn-block:hover{
    opacity: .8;
    color: #fff;
}

form#signup-Form {
width: 30%;
width: 100%;
margin: 0 auto;
}

button.btn {
    padding:9px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}
.login-wrap header{
    padding: 0px;
}


label.error {
    color: #ea5014;
    margin: 0px;
    position: absolute;
    top: 100%;
    left: 0;
}

input.error {
    border-color: #d9534f;
}
.login-wrap{
    width: 340px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 30px 30px 30px;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(114, 114, 114);
}
.login-wrap header img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.loginform img{
    width: 16px;
    position: absolute;
    left: 2px;
    bottom:6px;
}
.loginform img.key{
    width: 18px;
}.loginform img.account{
    width: 18px;
}
label{
    font-weight: 300;
    cursor: pointer;
}
.loginform input{
    position: relative;
    width: 100%;
    padding: 0 10px 0 36px;
    border: 1px solid;
    border-color:transparent transparent #ddd transparent;
    outline: 0px;
    line-height: 200%;
}

.loginform input[type=checkbox]{
    vertical-align: middle;
    margin:0 6px 2px 0;
    display: inline;
    width: unset;
}
.links{
    padding: 15px 0 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.links a{
    color: #333;
}
.links a:last-child{
    padding: 0 5px ;
    margin-right: 5px;
    border-right: 1px solid #ddd;
}
.otherwise a{
    display: inline-block;
    color: #fff;
}
.otherwise a .fa
{
    background-color: #b5b6b6;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    width: 22px;
    height: 22px;
}
.relative{
    position: relative;
    margin-bottom: 30px;
}
footer{
    position: fixed;
    bottom: 0px;
}
.login-wrap h4{
    margin-bottom: 50px;
}
button[type=submit]{
    text-align: center;
}
.links a{
    color: #ea5014;
}
.orange-bg {
    background-color: #ea5014;
}
.orange{
    color:#ea5014;
}
header{
    background: none;
}
a:hover,a:visited{
    text-decoration: none;
}
/* 验证按钮 */
.proving{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(191, 191, 191);
    color: #fff;
    border: none;
    padding: 6px 12px;
    text-align: center;
}
.proving:focus{
    outline: none;
}
input:-webkit-autofill,input:autofill {
    background-color: transparent!important;
}
button:focus,button:active{
    outline: none;
}
.con-none{
    padding-left: 15px;
}

 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:rgb(200, 200, 200) !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:rgb(200, 200, 200) !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
  color:rgb(200, 200, 200) !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
     color:rgb(200, 200, 200) !important;
}
.rule{
    margin-top:15px;
    font-size: 12px;
}
.rule span{
    color: #ea5014;
    cursor: pointer;
    padding:0 4px;
}


/* 弹出框 */
.Pop-up{
    display: none;
    width: 600px;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.Pop-up-title{
    font-size: 16px;
    padding: 15px 45px;
    background-color: rgb(242, 242, 242);
}
.Pop-up-details{
    background-color: #fff;
    padding: 15px 45px;
    font-size: 12px;
    line-height: 2;
}
.details-title{
    color: #ea5014;
    font-size: 14px
}
.close{
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
/* 注册成功 */
.success-header{
 border-bottom: 1px solid #ddd;
}
.success-content{
    padding: 30px 0 15px;
    text-align: center;
   }
   .login-wrap .success-header h4{
    margin: 15px 0 30px;
   }
   .success-content span{
       color:rgb(114, 114, 114);
   }